USE [master]
GO
/****** Object:  Database [sgsst]    Script Date: 23/05/2016 9:19:27 ******/
CREATE DATABASE [sgsst]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sgsst', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQL_JEZUZ\MSSQL\DATA\sgsst.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sgsst_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQL_JEZUZ\MSSQL\DATA\sgsst_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sgsst].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sgsst]
GO
/****** Object:  Table [dbo].[acc_inc_lab]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[acc_inc_lab](
	[id_acc_lab] [int] NOT NULL,
	[id_area] [int] NOT NULL,
	[id_trabajador] [int] NULL,
	[id_empresa] [int] NOT NULL,
	[id_ips] [int] NOT NULL,
	[sitio_accidente] [varchar](50) NOT NULL,
	[tipo_accidente] [varchar](50) NOT NULL,
	[id_puesto_trabajo] [int] NOT NULL,
	[agente_lesion] [varchar](50) NOT NULL,
	[prod_accidente] [varchar](50) NOT NULL,
	[parte_cuerpo_afectada] [varchar](50) NOT NULL,
	[forma_accidente] [varchar](100) NOT NULL,
	[id_testigos] [int] NOT NULL,
	[eventos_similar] [varchar](45) NULL,
	[tiempo_prev_lab] [datetime] NULL,
	[grado] [varchar](45) NULL,
	[fecha_inv] [date] NULL,
	[fecha_acc] [date] NULL,
	[hora_acc] [datetime] NULL,
	[breve_desc] [varchar](500) NULL,
	[desc_hechos] [varchar](500) NULL,
	[cuenta_matriz_riesgos] [varchar](45) NULL,
	[contemplado_matriz] [varchar](45) NULL,
	[personas_presenciaron_accidente] [varchar](45) NULL,
	[situaciones_noclaras] [varchar](45) NULL,
	[documento_escaneado] [varchar](45) NULL,
	[encargado_sst] [varchar](45) NULL,
	[integrante_copasst] [varchar](45) NULL,
	[brigadista] [varchar](45) NULL,
	[jefe_inmediato] [varchar](45) NULL,
	[prof_salud_ocu] [varchar](45) NULL,
	[num_consultas] [varchar](45) NULL,
	[frecuencia_consulta] [varchar](45) NULL,
	[tipo_acci_inci] [int] NULL,
 CONSTRAINT [PK_acc_inc_lab] PRIMARY KEY CLUSTERED 
(
	[id_acc_lab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[agentes]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[agentes](
	[id_agentes] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agentes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[alarmas]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alarmas](
	[id_alarmas] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_Fin] [date] NULL,
	[nombre] [varchar](45) NULL,
	[id_prioridad] [int] NOT NULL,
	[id_categorias] [int] NOT NULL,
	[descripcion] [nchar](10) NULL,
 CONSTRAINT [PK_alarmas] PRIMARY KEY CLUSTERED 
(
	[id_alarmas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[anexos]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[anexos](
	[id_anexos] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[id_obl] [int] NOT NULL,
	[id_autoridad] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_estatus_tramite] [int] NOT NULL,
	[ruta] [nvarchar](50) NULL,
 CONSTRAINT [PK_anexos] PRIMARY KEY CLUSTERED 
(
	[id_anexos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[area_enfermedad]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area_enfermedad](
	[id_area_enfermedad] [nchar](10) NULL,
	[id_area] [nchar](10) NULL,
	[id_enfermedad] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[autoridad]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[autoridad](
	[id_autoridad] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_autoridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categorias] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](50) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK__categori__4E9B2EB320BE8F7A] PRIMARY KEY CLUSTERED 
(
	[id_categorias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[causas_basicas]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[causas_basicas](
	[id_causas_basica] [int] NOT NULL,
	[factores_trabajo] [varchar](100) NULL,
	[factores_personales] [varchar](100) NULL,
	[id_acci_lab] [int] NOT NULL,
 CONSTRAINT [PK_causas_basicas] PRIMARY KEY CLUSTERED 
(
	[id_causas_basica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[causas_inmediatas]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[causas_inmediatas](
	[id_causas_inm] [int] NOT NULL,
	[condicion_subestandar] [varchar](45) NULL,
	[actos_subestandar] [varchar](45) NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_causas_inmediatas] PRIMARY KEY CLUSTERED 
(
	[id_causas_inm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[compromisos]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compromisos](
	[id_compromiso] [int] NOT NULL,
	[controles] [varchar](45) NULL,
	[fuente] [varchar](45) NULL,
	[medio] [varchar](45) NULL,
	[persona] [varchar](45) NULL,
	[responsable] [varchar](45) NULL,
	[fecha_implementacion] [date] NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_compromisos] PRIMARY KEY CLUSTERED 
(
	[id_compromiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas](
	[id_consulta] [int] NOT NULL,
	[id_acc_lab] [int] NOT NULL,
	[tipo] [nchar](10) NULL,
	[servicio_medico] [nchar](10) NULL,
	[fecha] [nchar](10) NULL,
	[medico] [nchar](10) NULL,
	[diagnostico] [nchar](10) NULL,
	[sug_trat] [nchar](10) NULL,
 CONSTRAINT [PK_consultas] PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[desc_socio]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[desc_socio](
	[id_desc_socio] [int] NOT NULL,
	[id_trabajador] [varchar](45) NULL,
	[lugar_nac] [varchar](45) NULL,
	[nivel_escol] [varchar](45) NULL,
	[años_aprob] [varchar](45) NULL,
	[cabeza_fam] [varchar](45) NULL,
	[num_hijos] [varchar](45) NULL,
	[repart_resp] [varchar](45) NULL,
	[menores_dep] [varchar](45) NULL,
	[cond_social] [varchar](45) NULL,
	[mot_despl] [varchar](45) NULL,
	[tipo_vivienda] [varchar](45) NULL,
	[serv_pub] [varchar](45) NULL,
	[sist_seg_soc] [varchar](45) NULL,
	[reg_afiliacion] [varchar](45) NULL,
	[nivel_sisben] [varchar](45) NULL,
	[eps] [varchar](45) NULL,
	[afi_sssp] [varchar](45) NULL,
	[fondo] [nchar](10) NULL,
	[afi_riesgo] [nchar](10) NULL,
	[arp] [nchar](10) NULL,
	[estrato] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_desc_socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empleos_anteriores]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleos_anteriores](
	[id_empleos_ant] [int] NOT NULL,
	[empresa] [varchar](45) NULL,
	[area] [varchar](45) NULL,
	[cargo] [varchar](45) NULL,
	[años] [varchar](45) NULL,
	[meses] [varchar](45) NULL,
	[enfermedades] [varchar](45) NULL,
	[id_desc_socio] [int] NOT NULL,
 CONSTRAINT [PK_empleos_anteriores] PRIMARY KEY CLUSTERED 
(
	[id_empleos_ant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[enfermedades]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[enfermedades](
	[id_enfermedades] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](500) NULL,
 CONSTRAINT [PK_enfermedades] PRIMARY KEY CLUSTERED 
(
	[id_enfermedades] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[equipos_materiales]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[equipos_materiales](
	[id_equipo_mat] [int] NOT NULL,
	[descripcion] [varchar](45) NULL,
	[unidad_medida] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equipo_mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[equipos_trabajador_gestion]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipos_trabajador_gestion](
	[id_equipos] [int] NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[id_ges_lab] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[estatus_obligacion]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estatus_obligacion](
	[id_estatus_obl] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estatus_obl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estatus_tramite]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estatus_tramite](
	[id_estatus_tramite] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estatus_tramite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[examenes_realizados]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examenes_realizados](
	[id_exa_real] [int] NOT NULL,
	[id_medidas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exa_real] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[factor_riesgo]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[factor_riesgo](
	[id_factor_riesgo] [int] NOT NULL,
	[descripcion] [varchar](45) NULL,
	[id_matriz_enf] [int] NOT NULL,
	[id_agentes] [int] NOT NULL,
 CONSTRAINT [PK_factor_riesgo] PRIMARY KEY CLUSTERED 
(
	[id_factor_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fotos_accidente]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fotos_accidente](
	[id_fotos_acci] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
	[ruta] [varchar](100) NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_fotos_accidente] PRIMARY KEY CLUSTERED 
(
	[id_fotos_acci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[frecuencia_control]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[frecuencia_control](
	[id_frec_con] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[num_Dias] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_frec_con] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[gestion_laboral]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[gestion_laboral](
	[id_ges_lab] [int] NOT NULL,
	[tipo_gestion] [varchar](45) NULL,
	[titulo] [varchar](45) NULL,
	[descripcion] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ges_lab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[historia_clinica_ocupacional]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[historia_clinica_ocupacional](
	[id_his_cli_ocu] [int] NOT NULL,
	[id_trabajador] [int] NULL,
	[tipo_historia] [varchar](45) NULL,
	[doc_esc_paciente] [varchar](45) NULL,
	[doc_esc_medico] [varchar](45) NULL,
	[diagnostico] [varchar](45) NULL,
	[recomendaciones] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_his_cli_ocu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ips]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ips](
	[id_ips] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](500) NULL,
 CONSTRAINT [PK__ips__D62ABC0C92A86D87] PRIMARY KEY CLUSTERED 
(
	[id_ips] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mat_enf]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mat_enf](
	[id_matriz_enfermedad] [int] NOT NULL,
	[id_enfermedades] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[matriz_enfermedades]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matriz_enfermedades](
	[id_matriz_enfermedad] [int] NOT NULL,
	[descripcion] [varchar](45) NULL,
	[id_trabajador] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_matriz_enfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[medidas]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[medidas](
	[id_medidas] [int] NOT NULL,
	[descripcion] [varchar](45) NULL,
	[aplica] [varchar](45) NULL,
	[id_normas] [int] NOT NULL,
	[id_matriz_enf] [int] NOT NULL,
 CONSTRAINT [PK_medidas] PRIMARY KEY CLUSTERED 
(
	[id_medidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[normas]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[normas](
	[id_normas] [int] NOT NULL,
	[documento] [varchar](45) NULL,
	[año] [date] NULL,
	[articulo_literal] [varchar](45) NULL,
	[tema] [varchar](45) NULL,
	[pdf] [varchar](45) NULL,
	[tipo] [varchar](45) NULL,
	[concordante] [varchar](45) NULL,
	[obligaciones] [varchar](45) NULL,
	[id_codigo_ciiu] [int] NOT NULL,
 CONSTRAINT [PK_normas] PRIMARY KEY CLUSTERED 
(
	[id_normas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[obligacion]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[obligacion](
	[id_obligacion] [int] NOT NULL,
	[id_medidas] [int] NOT NULL,
	[id_responsable] [varchar](45) NULL,
	[id_categorias] [int] NOT NULL,
	[id_estatus_obl] [int] NOT NULL,
	[id_prioridad] [int] NOT NULL,
	[id_frecuencia_con] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[fecha_entrega] [date] NULL,
	[descripcion] [varchar](45) NULL,
	[acciones] [varchar](45) NULL,
 CONSTRAINT [PK_obligacion] PRIMARY KEY CLUSTERED 
(
	[id_obligacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[plan_mapa]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[plan_mapa](
	[id_plan_mapa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[ruta] [varchar](100) NULL,
	[fecha_creacion] [date] NULL,
	[id_empresa] [int] NULL,
	[tipo] [int] NULL,
 CONSTRAINT [PK_plan_mapa] PRIMARY KEY CLUSTERED 
(
	[id_plan_mapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[prioridad]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prioridad](
	[id_prioridad] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prioridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[puesto_trabajo]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[puesto_trabajo](
	[id_puesto_trabajo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](100) NULL,
	[id_area] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
 CONSTRAINT [PK_puesto_trabajo] PRIMARY KEY CLUSTERED 
(
	[id_puesto_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[riesgos]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[riesgos](
	[id_riesgos] [int] NOT NULL,
	[id_puesto_trabajo] [int] NOT NULL,
	[fecha_eva] [date] NULL,
	[id_responsable] [int] NULL,
	[identificacion_riesgo] [varchar](45) NULL,
	[probabilidad] [varchar](45) NULL,
	[severidad] [varchar](45) NULL,
	[valor_riesgo] [varchar](45) NULL,
	[id_prioridad] [int] NOT NULL,
	[medidas_preventivas] [varchar](45) NULL,
 CONSTRAINT [PK_riesgos] PRIMARY KEY CLUSTERED 
(
	[id_riesgos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Testigos]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Testigos](
	[id_testigo] [int] NOT NULL,
	[nombre] [varbinary](50) NULL,
	[apellido] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[declaracion] [varchar](500) NULL,
 CONSTRAINT [PK_Testigos] PRIMARY KEY CLUSTERED 
(
	[id_testigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Testigos_Accidentes]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testigos_Accidentes](
	[id_testigo] [int] NULL,
	[id_acc_lab] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo](
	[id_tipo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](500) NULL,
 CONSTRAINT [PK_tipo] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_anexo]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_anexo](
	[id_tipo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trabajador_gestion]    Script Date: 23/05/2016 9:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trabajador_gestion](
	[id_trabajador] [int] NOT NULL,
	[id_gestion_laboral] [int] NOT NULL,
	[asistencia] [varchar](45) NULL,
 CONSTRAINT [PK_trabajador_gestion] PRIMARY KEY CLUSTERED 
(
	[id_trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_ips] FOREIGN KEY([id_ips])
REFERENCES [dbo].[ips] ([id_ips])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_ips]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_puesto_trabajo] FOREIGN KEY([id_puesto_trabajo])
REFERENCES [dbo].[puesto_trabajo] ([id_puesto_trabajo])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_puesto_trabajo]
GO
ALTER TABLE [dbo].[alarmas]  WITH CHECK ADD  CONSTRAINT [FK_alarmas_categorias] FOREIGN KEY([id_categorias])
REFERENCES [dbo].[categorias] ([id_categorias])
GO
ALTER TABLE [dbo].[alarmas] CHECK CONSTRAINT [FK_alarmas_categorias]
GO
ALTER TABLE [dbo].[alarmas]  WITH CHECK ADD  CONSTRAINT [FK_alarmas_prioridad] FOREIGN KEY([id_prioridad])
REFERENCES [dbo].[prioridad] ([id_prioridad])
GO
ALTER TABLE [dbo].[alarmas] CHECK CONSTRAINT [FK_alarmas_prioridad]
GO
ALTER TABLE [dbo].[anexos]  WITH CHECK ADD  CONSTRAINT [FK_anexos_autoridad] FOREIGN KEY([id_autoridad])
REFERENCES [dbo].[autoridad] ([id_autoridad])
GO
ALTER TABLE [dbo].[anexos] CHECK CONSTRAINT [FK_anexos_autoridad]
GO
ALTER TABLE [dbo].[anexos]  WITH CHECK ADD  CONSTRAINT [FK_anexos_estatus_tramite] FOREIGN KEY([id_estatus_tramite])
REFERENCES [dbo].[estatus_tramite] ([id_estatus_tramite])
GO
ALTER TABLE [dbo].[anexos] CHECK CONSTRAINT [FK_anexos_estatus_tramite]
GO
ALTER TABLE [dbo].[anexos]  WITH CHECK ADD  CONSTRAINT [FK_anexos_obligacion] FOREIGN KEY([id_obl])
REFERENCES [dbo].[obligacion] ([id_obligacion])
GO
ALTER TABLE [dbo].[anexos] CHECK CONSTRAINT [FK_anexos_obligacion]
GO
ALTER TABLE [dbo].[anexos]  WITH CHECK ADD  CONSTRAINT [FK_anexos_tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_anexo] ([id_tipo])
GO
ALTER TABLE [dbo].[anexos] CHECK CONSTRAINT [FK_anexos_tipo]
GO
ALTER TABLE [dbo].[causas_basicas]  WITH CHECK ADD  CONSTRAINT [FK_causas_basicas_acc_inc_lab] FOREIGN KEY([id_acci_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
GO
ALTER TABLE [dbo].[causas_basicas] CHECK CONSTRAINT [FK_causas_basicas_acc_inc_lab]
GO
ALTER TABLE [dbo].[causas_inmediatas]  WITH CHECK ADD  CONSTRAINT [FK_causas_inmediatas_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
GO
ALTER TABLE [dbo].[causas_inmediatas] CHECK CONSTRAINT [FK_causas_inmediatas_acc_inc_lab]
GO
ALTER TABLE [dbo].[compromisos]  WITH CHECK ADD  CONSTRAINT [FK_compromisos_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
GO
ALTER TABLE [dbo].[compromisos] CHECK CONSTRAINT [FK_compromisos_acc_inc_lab]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [FK_consultas_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [FK_consultas_acc_inc_lab]
GO
ALTER TABLE [dbo].[empleos_anteriores]  WITH CHECK ADD  CONSTRAINT [FK_empleos_anteriores_desc_socio] FOREIGN KEY([id_desc_socio])
REFERENCES [dbo].[desc_socio] ([id_desc_socio])
GO
ALTER TABLE [dbo].[empleos_anteriores] CHECK CONSTRAINT [FK_empleos_anteriores_desc_socio]
GO
ALTER TABLE [dbo].[equipos_trabajador_gestion]  WITH CHECK ADD  CONSTRAINT [FK_equipos_trabajador_gestion_equipos_materiales] FOREIGN KEY([id_equipos])
REFERENCES [dbo].[equipos_materiales] ([id_equipo_mat])
GO
ALTER TABLE [dbo].[equipos_trabajador_gestion] CHECK CONSTRAINT [FK_equipos_trabajador_gestion_equipos_materiales]
GO
ALTER TABLE [dbo].[examenes_realizados]  WITH CHECK ADD  CONSTRAINT [FK_examenes_realizados_medidas] FOREIGN KEY([id_medidas])
REFERENCES [dbo].[medidas] ([id_medidas])
GO
ALTER TABLE [dbo].[examenes_realizados] CHECK CONSTRAINT [FK_examenes_realizados_medidas]
GO
ALTER TABLE [dbo].[factor_riesgo]  WITH CHECK ADD  CONSTRAINT [FK_factor_riesgo_agentes] FOREIGN KEY([id_agentes])
REFERENCES [dbo].[agentes] ([id_agentes])
GO
ALTER TABLE [dbo].[factor_riesgo] CHECK CONSTRAINT [FK_factor_riesgo_agentes]
GO
ALTER TABLE [dbo].[factor_riesgo]  WITH CHECK ADD  CONSTRAINT [FK_factor_riesgo_matriz_enfermedad] FOREIGN KEY([id_matriz_enf])
REFERENCES [dbo].[matriz_enfermedades] ([id_matriz_enfermedad])
GO
ALTER TABLE [dbo].[factor_riesgo] CHECK CONSTRAINT [FK_factor_riesgo_matriz_enfermedad]
GO
ALTER TABLE [dbo].[fotos_accidente]  WITH CHECK ADD  CONSTRAINT [FK_fotos_accidente_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
GO
ALTER TABLE [dbo].[fotos_accidente] CHECK CONSTRAINT [FK_fotos_accidente_acc_inc_lab]
GO
ALTER TABLE [dbo].[mat_enf]  WITH CHECK ADD  CONSTRAINT [FK_mat_enf_enfermedades] FOREIGN KEY([id_enfermedades])
REFERENCES [dbo].[enfermedades] ([id_enfermedades])
GO
ALTER TABLE [dbo].[mat_enf] CHECK CONSTRAINT [FK_mat_enf_enfermedades]
GO
ALTER TABLE [dbo].[mat_enf]  WITH CHECK ADD  CONSTRAINT [FK_mat_enf_matriz_enfermedades] FOREIGN KEY([id_matriz_enfermedad])
REFERENCES [dbo].[matriz_enfermedades] ([id_matriz_enfermedad])
GO
ALTER TABLE [dbo].[mat_enf] CHECK CONSTRAINT [FK_mat_enf_matriz_enfermedades]
GO
ALTER TABLE [dbo].[medidas]  WITH CHECK ADD  CONSTRAINT [FK_medidas_matriz_enfermedad] FOREIGN KEY([id_matriz_enf])
REFERENCES [dbo].[matriz_enfermedades] ([id_matriz_enfermedad])
GO
ALTER TABLE [dbo].[medidas] CHECK CONSTRAINT [FK_medidas_matriz_enfermedad]
GO
ALTER TABLE [dbo].[medidas]  WITH CHECK ADD  CONSTRAINT [FK_medidas_normas] FOREIGN KEY([id_normas])
REFERENCES [dbo].[normas] ([id_normas])
GO
ALTER TABLE [dbo].[medidas] CHECK CONSTRAINT [FK_medidas_normas]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_categorias] FOREIGN KEY([id_categorias])
REFERENCES [dbo].[categorias] ([id_categorias])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_categorias]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_estatus_obligacion] FOREIGN KEY([id_estatus_obl])
REFERENCES [dbo].[estatus_obligacion] ([id_estatus_obl])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_estatus_obligacion]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_frecuencia_control] FOREIGN KEY([id_frecuencia_con])
REFERENCES [dbo].[frecuencia_control] ([id_frec_con])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_frecuencia_control]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_medidas] FOREIGN KEY([id_medidas])
REFERENCES [dbo].[medidas] ([id_medidas])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_medidas]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_prioridad] FOREIGN KEY([id_prioridad])
REFERENCES [dbo].[prioridad] ([id_prioridad])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_prioridad]
GO
ALTER TABLE [dbo].[riesgos]  WITH CHECK ADD  CONSTRAINT [FK_riesgos_prioridad] FOREIGN KEY([id_prioridad])
REFERENCES [dbo].[prioridad] ([id_prioridad])
GO
ALTER TABLE [dbo].[riesgos] CHECK CONSTRAINT [FK_riesgos_prioridad]
GO
ALTER TABLE [dbo].[riesgos]  WITH CHECK ADD  CONSTRAINT [FK_riesgos_puesto_trabajo] FOREIGN KEY([id_puesto_trabajo])
REFERENCES [dbo].[puesto_trabajo] ([id_puesto_trabajo])
GO
ALTER TABLE [dbo].[riesgos] CHECK CONSTRAINT [FK_riesgos_puesto_trabajo]
GO
ALTER TABLE [dbo].[Testigos_Accidentes]  WITH CHECK ADD  CONSTRAINT [FK_Testigos_Accidentes_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
GO
ALTER TABLE [dbo].[Testigos_Accidentes] CHECK CONSTRAINT [FK_Testigos_Accidentes_acc_inc_lab]
GO
ALTER TABLE [dbo].[Testigos_Accidentes]  WITH CHECK ADD  CONSTRAINT [FK_Testigos_Accidentes_Testigos] FOREIGN KEY([id_testigo])
REFERENCES [dbo].[Testigos] ([id_testigo])
GO
ALTER TABLE [dbo].[Testigos_Accidentes] CHECK CONSTRAINT [FK_Testigos_Accidentes_Testigos]
GO
ALTER TABLE [dbo].[trabajador_gestion]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_gestion_gestion_laboral] FOREIGN KEY([id_gestion_laboral])
REFERENCES [dbo].[gestion_laboral] ([id_ges_lab])
GO
ALTER TABLE [dbo].[trabajador_gestion] CHECK CONSTRAINT [FK_trabajador_gestion_gestion_laboral]
GO
USE [master]
GO
