USE [master]
GO
/****** Object:  Database [GrupoLi]    Script Date: 30/11/2016 10:47:02 ******/
CREATE DATABASE [GrupoLi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GrupoLi', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQL_JEZUZ\MSSQL\DATA\GrupoLi.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GrupoLi_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQL_JEZUZ\MSSQL\DATA\GrupoLi_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GrupoLi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GrupoLi]
GO
/****** Object:  Table [dbo].[acc_inc_lab]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[acc_inc_lab](
	[id_acc_lab] [int] IDENTITY(1,1) NOT NULL,
	[tipo_acci_inci] [int] NULL,
	[grado] [varchar](45) NULL,
	[fecha_inv] [date] NULL,
	[hora_inv] [datetime] NULL,
	[id_trabajador] [int] NULL,
	[id_area] [int] NULL,
	[fecha_acc] [date] NULL,
	[hora_acc] [datetime] NULL,
	[id_ips] [int] NULL,
	[id_tipo_acc] [int] NULL,
	[id_sitio_acc] [int] NULL,
	[tiempo_prev_lab] [datetime] NULL,
	[breve_desc] [varchar](5000) NULL,
	[desc_hechos] [varchar](5000) NULL,
	[id_puesto_trabajo] [int] NULL,
	[id_agente_lesion] [int] NULL,
	[id_causa_accidente] [int] NULL,
	[id_parte_cuerpo] [int] NULL,
	[id_forma_acc] [int] NULL,
	[eventos_similar] [varchar](45) NULL,
	[cuenta_matriz_riesgos] [varchar](45) NULL,
	[contemplado_matriz] [varchar](45) NULL,
	[personas_presenciaron_accidente] [varchar](45) NULL,
	[situaciones_noclaras] [varchar](5000) NULL,
	[encargado_sst] [varchar](45) NULL,
	[integrante_copasst] [varchar](45) NULL,
	[brigadista] [varchar](45) NULL,
	[jefe_inmediato] [varchar](45) NULL,
	[prof_salud_ocu] [varchar](45) NULL,
	[documento_escaneado] [varchar](100) NULL,
	[num_consultas] [varchar](45) NULL,
	[frecuencia_consulta] [varchar](45) NULL,
	[documento_comunicado] [varchar](100) NULL,
 CONSTRAINT [PK_acc_inc_lab] PRIMARY KEY CLUSTERED 
(
	[id_acc_lab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[afp]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[afp](
	[id_afp] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](1000) NULL,
	[codigo] [varchar](500) NULL,
	[nit] [varchar](500) NULL,
	[direccion] [varchar](1000) NULL,
	[telefono] [varchar](1000) NULL,
	[ciudad] [varchar](1000) NULL,
 CONSTRAINT [PK_fondo] PRIMARY KEY CLUSTERED 
(
	[id_afp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[agente_lesion]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[agente_lesion](
	[id_agente_lesion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_agente_lesion] PRIMARY KEY CLUSTERED 
(
	[id_agente_lesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[alarmas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alarmas](
	[id_alarmas] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[fecha] [date] NULL,
	[id_prioridad] [int] NULL,
	[id_categorias] [int] NULL,
	[id_usuario] [int] NULL,
 CONSTRAINT [PK_alarmas] PRIMARY KEY CLUSTERED 
(
	[id_alarmas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[anexos]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[anexos](
	[id_anexos] [int] NOT NULL,
	[nombre] [varchar](45) NULL,
	[id_obligacion] [int] NOT NULL,
	[ruta] [nvarchar](50) NULL,
 CONSTRAINT [PK_anexos] PRIMARY KEY CLUSTERED 
(
	[id_anexos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[area]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[area](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[id_sucursal] [int] NOT NULL,
	[id_area_padre] [bigint] NULL,
	[nivel] [int] NULL,
 CONSTRAINT [PK_area] PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[arp]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[arp](
	[id_arp] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[codigo] [varchar](50) NULL,
	[nit] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [varchar](100) NULL,
	[ciudad] [varchar](50) NULL,
 CONSTRAINT [PK_arp] PRIMARY KEY CLUSTERED 
(
	[id_arp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categorias] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](500) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK__categori__4E9B2EB320BE8F7A] PRIMARY KEY CLUSTERED 
(
	[id_categorias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[causa_accidente]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[causa_accidente](
	[id_causa_acc] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_causa_accidente] PRIMARY KEY CLUSTERED 
(
	[id_causa_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[causas_basicas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[causas_basicas](
	[id_causas_basica] [int] IDENTITY(1,1) NOT NULL,
	[factores_trabajo] [varchar](1000) NULL,
	[factores_personales] [varchar](1000) NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_causas_basicas] PRIMARY KEY CLUSTERED 
(
	[id_causas_basica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[causas_inmediatas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[causas_inmediatas](
	[id_causas_inm] [int] IDENTITY(1,1) NOT NULL,
	[condicion_subestandar] [varchar](1000) NULL,
	[actos_subestandar] [varchar](1000) NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_causas_inmediatas] PRIMARY KEY CLUSTERED 
(
	[id_causas_inm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ccf]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ccf](
	[id_ccf] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[codigo] [varchar](50) NULL,
	[nit] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [varchar](100) NULL,
	[ciudad] [varchar](100) NULL,
 CONSTRAINT [PK_ccf] PRIMARY KEY CLUSTERED 
(
	[id_ccf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[codigo_ciiu]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[codigo_ciiu](
	[id_codigo_ciiu] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](2000) NULL,
 CONSTRAINT [PK__codigo_c__D1F306F67956CA09] PRIMARY KEY CLUSTERED 
(
	[id_codigo_ciiu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[compromisos]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compromisos](
	[id_compromiso] [int] IDENTITY(1,1) NOT NULL,
	[controles] [varchar](1000) NULL,
	[fecha_implementacion] [date] NULL,
	[fuente] [varchar](45) NULL,
	[medio] [varchar](45) NULL,
	[persona] [varchar](45) NULL,
	[responsable] [varchar](45) NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_compromisos] PRIMARY KEY CLUSTERED 
(
	[id_compromiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[consultas](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[id_acc_lab] [int] NOT NULL,
	[tipo] [varchar](50) NULL,
	[servicio_medico] [varchar](50) NULL,
	[fecha] [varchar](50) NULL,
	[medico] [varchar](50) NULL,
	[diagnostico] [varchar](50) NULL,
	[sug_trat] [varchar](50) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_consultas] PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departamento](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_region] [int] NULL,
 CONSTRAINT [PK__departam__64F37A1660282BBC] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[desc_socio]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[desc_socio](
	[id_desc_socio] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NULL,
	[lugar_nac] [varchar](1000) NULL,
	[nivel_escolaridad] [varchar](1000) NULL,
	[años_aprob] [varchar](450) NULL,
	[cabeza_fam] [varchar](450) NULL,
	[num_hijos] [varchar](450) NULL,
	[repart_resp] [varchar](450) NULL,
	[menores_dep] [varchar](450) NULL,
	[cond_social] [varchar](450) NULL,
	[mot_despl] [varchar](450) NULL,
	[tipo_vivienda] [varchar](450) NULL,
	[serv_pub] [varchar](450) NULL,
	[sist_seg_soc] [varchar](450) NULL,
	[reg_afiliacion] [varchar](450) NULL,
	[nivel_sisben] [varchar](450) NULL,
	[id_eps] [int] NULL,
	[afi_sssp] [varchar](450) NULL,
	[id_afp] [int] NULL,
	[afi_riesgo] [varchar](500) NULL,
	[estrato] [varchar](500) NULL,
	[vivienda] [varchar](500) NULL,
	[industria] [varchar](500) NULL,
	[ruido] [varchar](500) NULL,
	[contaminacion] [varchar](500) NULL,
	[descripcion] [varchar](1000) NULL,
 CONSTRAINT [PK__desc_soc__B177F6AEA3F057A5] PRIMARY KEY CLUSTERED 
(
	[id_desc_socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[division]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[division](
	[id_division] [int] IDENTITY(1,1) NOT NULL,
	[id_codigo_ciiu] [int] NULL,
	[nombre] [varchar](2000) NULL,
 CONSTRAINT [PK_division] PRIMARY KEY CLUSTERED 
(
	[id_division] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empleos_anteriores]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleos_anteriores](
	[id_empleos_ant] [int] IDENTITY(1,1) NOT NULL,
	[empresa] [varchar](50) NULL,
	[area] [varchar](50) NULL,
	[cargo] [varchar](50) NULL,
	[años] [varchar](50) NULL,
	[meses] [varchar](50) NULL,
	[enfermedades] [varchar](50) NULL,
	[id_desc_socio] [int] NULL,
 CONSTRAINT [PK_empleos_anteriores1] PRIMARY KEY CLUSTERED 
(
	[id_empleos_ant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empresa](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[CodEmpresa] [varchar](50) NULL,
	[nit] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[representante] [varchar](100) NULL,
	[movil] [varchar](50) NULL,
	[fijo] [varchar](50) NULL,
	[logo_url] [varchar](100) NULL,
	[id_arp] [int] NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empresa_itemdivision]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empresa_itemdivision](
	[id_emp_itemdiv] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NULL,
	[id_items_division] [int] NULL,
	[num_actividad] [varchar](50) NULL,
 CONSTRAINT [PK_empresa_itemdivision] PRIMARY KEY CLUSTERED 
(
	[id_emp_itemdiv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[enfermedad]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[enfermedad](
	[id_enfermedad] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [int] NULL,
	[nombre] [varchar](1000) NULL,
 CONSTRAINT [PK_enfermedad] PRIMARY KEY CLUSTERED 
(
	[id_enfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eps]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eps](
	[id_eps] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](1000) NULL,
	[codigo] [varchar](500) NULL,
	[nit] [varchar](500) NULL,
	[direccion] [varchar](1000) NULL,
	[telefono] [varchar](1000) NULL,
	[ciudad] [varchar](500) NULL,
 CONSTRAINT [PK_eps_1] PRIMARY KEY CLUSTERED 
(
	[id_eps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estatus]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estatus](
	[id_estatus] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](100) NULL,
	[fecha_creacion] [datetime] NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK__estatus__3B2CE273B0A75E6F] PRIMARY KEY CLUSTERED 
(
	[id_estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estatus_obligacion]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estatus_obligacion](
	[id_estatus_obl] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
	[descripcion] [varchar](200) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK__estatus___0482F1003142FAC4] PRIMARY KEY CLUSTERED 
(
	[id_estatus_obl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Eventos](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NULL,
	[id_usuario] [int] NULL,
	[id_tipo_evento] [int] NULL,
	[datos_viejos] [varchar](5000) NULL,
	[datos_nuevos] [varchar](5000) NULL,
	[pagina] [varchar](100) NULL,
	[tabla] [varchar](50) NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[factor_riesgo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[factor_riesgo](
	[id_factor_riesgo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_tipo_riesgo] [int] NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_factor_riesgo_1] PRIMARY KEY CLUSTERED 
(
	[id_factor_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[forma_accidente]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[forma_accidente](
	[id_forma_acc] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_forma_accidente] PRIMARY KEY CLUSTERED 
(
	[id_forma_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fotos_accidente]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fotos_accidente](
	[id_fotos_acci] [int] IDENTITY(1,1) NOT NULL,
	[ruta] [varchar](100) NULL,
	[id_acc_lab] [int] NOT NULL,
 CONSTRAINT [PK_fotos_accidente] PRIMARY KEY CLUSTERED 
(
	[id_fotos_acci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[frecuencia_control]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[frecuencia_control](
	[id_frec_con] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[num_Dias] [int] NULL,
 CONSTRAINT [PK__frecuenc__3BD38375EC8F4846] PRIMARY KEY CLUSTERED 
(
	[id_frec_con] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[gestion_laboral]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[gestion_laboral](
	[id_ges_lab] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[descripcion] [varchar](1000) NULL,
	[soporte] [varchar](100) NULL,
	[id_tipo_gestion] [int] NULL,
	[cant_horas] [int] NULL,
	[razon_inasistencia] [varchar](500) NULL,
	[objetivos] [varchar](500) NULL,
	[id_usuario] [int] NULL,
 CONSTRAINT [PK__gestion___6DAF1CB016ED2EE3] PRIMARY KEY CLUSTERED 
(
	[id_ges_lab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[historia_clinica_ocupacional]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[historia_clinica_ocupacional](
	[id_his_cli_ocu] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NULL,
	[id_tipo_exa] [int] NULL,
	[fecha] [date] NULL,
	[doc_esc_paciente] [varchar](100) NULL,
	[doc_esc_medico] [varchar](100) NULL,
	[diagnostico] [varchar](1000) NULL,
	[recomendaciones] [varchar](1000) NULL,
 CONSTRAINT [PK__historia__2A490278E8FA2231] PRIMARY KEY CLUSTERED 
(
	[id_his_cli_ocu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[horario]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[horario](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[fecha_inicio] [varchar](50) NULL,
	[fecha_fin] [varchar](50) NULL,
	[id_empresa] [int] NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK__Horario__C5836D693F439D7E] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ips]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ips](
	[id_ips] [int] IDENTITY(1,1) NOT NULL,
	[beneficiario] [varchar](500) NULL,
	[estado] [varchar](500) NULL,
	[nit] [varchar](500) NULL,
 CONSTRAINT [PK__ips__D62ABC0C92A86D87] PRIMARY KEY CLUSTERED 
(
	[id_ips] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[items_division]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[items_division](
	[id_items_division] [int] IDENTITY(1,1) NOT NULL,
	[id_division] [int] NULL,
	[nombre] [varchar](2000) NULL,
 CONSTRAINT [PK_items_division] PRIMARY KEY CLUSTERED 
(
	[id_items_division] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[matrizRiesgo_enfermedadLaboral]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matrizRiesgo_enfermedadLaboral](
	[id_enfermedadLaboral] [int] NOT NULL,
	[nombre] [varchar](1000) NULL,
 CONSTRAINT [PK_enfermedades] PRIMARY KEY CLUSTERED 
(
	[id_enfermedadLaboral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[matrizRiesgo_factorRiesgo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matrizRiesgo_factorRiesgo](
	[id_factor_riesgo] [int] NOT NULL,
	[descripcion] [varchar](500) NULL,
	[id_tipo_riesgo] [int] NULL,
 CONSTRAINT [PK_factor_riesgo] PRIMARY KEY CLUSTERED 
(
	[id_factor_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[matrizRiesgo_tipoRiesgo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matrizRiesgo_tipoRiesgo](
	[id_tipo_riesgo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_tipo_riesgo] PRIMARY KEY CLUSTERED 
(
	[id_tipo_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[medidas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[medidas](
	[id_medidas] [int] IDENTITY(1,1) NOT NULL,
	[id_normas] [int] NOT NULL,
	[descripcion] [varchar](1000) NULL,
 CONSTRAINT [PK_medidas] PRIMARY KEY CLUSTERED 
(
	[id_medidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[medidas_sucursal]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[medidas_sucursal](
	[id_medidas_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[id_normas_sucursal] [int] NULL,
	[descripcion] [varchar](1000) NULL,
	[estatus] [int] NULL,
	[aplica] [int] NULL,
 CONSTRAINT [PK_medidas_sucursal] PRIMARY KEY CLUSTERED 
(
	[id_medidas_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[municipio]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[municipio](
	[id_municipio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_departamento] [int] NOT NULL,
 CONSTRAINT [PK_municipio] PRIMARY KEY CLUSTERED 
(
	[id_municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[normas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[normas](
	[id_normas] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[tipo_matriz] [varchar](45) NULL,
	[tema_especifico] [varchar](1000) NULL,
	[documento] [varchar](1000) NULL,
	[anho] [varchar](50) NULL,
	[articulo] [varchar](45) NULL,
	[literal] [varchar](50) NULL,
	[paragrafo] [varchar](50) NULL,
	[numeral] [varchar](50) NULL,
	[concordante] [varchar](45) NULL,
	[obligaciones] [varchar](1000) NULL,
	[sanciones] [varchar](1000) NULL,
	[porc_cum] [int] NULL,
	[pdf] [varchar](45) NULL,
 CONSTRAINT [PK_normas] PRIMARY KEY CLUSTERED 
(
	[id_normas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[normas_sucursal]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[normas_sucursal](
	[id_normas_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[id_sucursal] [int] NULL,
	[id_normas] [int] NULL,
	[estatus] [int] NULL,
 CONSTRAINT [PK_normas_sucursal_1] PRIMARY KEY CLUSTERED 
(
	[id_normas_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[obligacion]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[obligacion](
	[id_obligacion] [int] IDENTITY(1,1) NOT NULL,
	[id_medida_sucursal] [int] NULL,
	[fecha_creacion] [date] NULL,
	[fecha_entrega] [date] NULL,
	[id_responsable] [int] NULL,
	[id_categorias] [int] NOT NULL,
	[id_prioridad] [int] NOT NULL,
	[id_frecuencia_con] [int] NOT NULL,
	[descripcion] [varchar](2000) NULL,
	[acciones] [varchar](2000) NULL,
	[id_estatus_obl] [int] NOT NULL,
	[id_riesgo] [int] NULL,
	[id_actividad] [int] NULL,
 CONSTRAINT [PK_obligacion] PRIMARY KEY CLUSTERED 
(
	[id_obligacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[parte_cuerpo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[parte_cuerpo](
	[id_parte_cuerpo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_parte_cuerpo] PRIMARY KEY CLUSTERED 
(
	[id_parte_cuerpo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[plan_mapa]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[plan_mapa](
	[id_plan_mapa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[ruta] [varchar](100) NULL,
	[fecha_creacion] [date] NULL,
	[id_sucursal] [int] NULL,
	[tipo] [int] NULL,
	[descripcion] [varchar](500) NULL,
 CONSTRAINT [PK_plan_mapa] PRIMARY KEY CLUSTERED 
(
	[id_plan_mapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[plan_trabajo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[plan_trabajo](
	[id_plan_trabajo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](1000) NULL,
	[objetivos] [varchar](1000) NULL,
	[anho] [int] NULL,
	[id_responsable] [int] NULL,
	[semana_ini] [int] NULL,
	[semana_fin] [int] NULL,
 CONSTRAINT [PK_plan_trabajo] PRIMARY KEY CLUSTERED 
(
	[id_plan_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[prioridad]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prioridad](
	[id_prioridad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK__priorida__EF3DAB40C8611C39] PRIMARY KEY CLUSTERED 
(
	[id_prioridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[puesto_trabajo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[puesto_trabajo](
	[id_puesto_trabajo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[descripcion] [varchar](500) NULL,
	[id_area] [int] NOT NULL,
 CONSTRAINT [PK_puesto_trabajo] PRIMARY KEY CLUSTERED 
(
	[id_puesto_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Region]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region](
	[id_region] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[id_region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[riesgos]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[riesgos](
	[id_riesgos] [int] IDENTITY(1,1) NOT NULL,
	[id_puesto_trabajo] [int] NULL,
	[fecha_eva] [date] NULL,
	[id_responsable] [int] NULL,
	[identificacion_riesgo] [varchar](100) NULL,
	[probabilidad] [varchar](45) NULL,
	[severidad] [varchar](45) NULL,
	[valor_riesgo] [varchar](45) NULL,
	[id_prioridad] [int] NULL,
	[medidas_fuente] [varchar](500) NULL,
	[estatus_med_fue] [varchar](50) NULL,
	[medidas_ambiente] [varchar](500) NULL,
	[estatus_med_amb] [varchar](50) NULL,
	[medidas_trabajador] [varchar](500) NULL,
	[estatus_med_trab] [varchar](50) NULL,
	[estatus] [varchar](50) NULL,
	[id_factor_riesgo] [int] NULL,
	[nombre_responsable] [varchar](50) NULL,
	[id_sucursal] [int] NULL,
	[consecuencia] [varchar](1000) NULL,
	[matriz_riesgo] [int] NULL,
	[porc_estatus] [int] NULL,
 CONSTRAINT [PK_riesgos] PRIMARY KEY CLUSTERED 
(
	[id_riesgos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[riesgos_item]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[riesgos_item](
	[id_riesgos_item] [int] IDENTITY(1,1) NOT NULL,
	[id_item] [int] NULL,
	[id_enfermedad_laboral] [int] NULL,
	[id_factor_riesgo] [int] NULL,
 CONSTRAINT [PK_riesgos_item] PRIMARY KEY CLUSTERED 
(
	[id_riesgos_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[rol]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sistemas]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sistemas](
	[id_sistemas] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_sistemas] PRIMARY KEY CLUSTERED 
(
	[id_sistemas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sitio_accidente]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sitio_accidente](
	[id_sitio_acc] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_sitio_accidente] PRIMARY KEY CLUSTERED 
(
	[id_sitio_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sucursal](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[id_municpio] [int] NULL,
	[id_empresa] [int] NULL,
	[direccion] [varchar](100) NULL,
	[sede_principal] [int] NULL,
	[representante] [varchar](100) NULL,
	[movil] [varchar](50) NULL,
	[fijo] [varchar](50) NULL,
 CONSTRAINT [PK_sucursal] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[testigos]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[testigos](
	[id_testigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[cedula] [varchar](50) NULL,
	[declaracion] [varchar](1000) NULL,
	[id_acc_lab] [int] NULL,
 CONSTRAINT [PK_Testigos] PRIMARY KEY CLUSTERED 
(
	[id_testigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_accidente]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_accidente](
	[id_tipo_acc] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_tipo_accidente] PRIMARY KEY CLUSTERED 
(
	[id_tipo_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_evento]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_evento](
	[id_tipo_evento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
 CONSTRAINT [PK_tipo_evento] PRIMARY KEY CLUSTERED 
(
	[id_tipo_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_examen]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_examen](
	[id_tipo_exa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo_Examen] PRIMARY KEY CLUSTERED 
(
	[id_tipo_exa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_gestion]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_gestion](
	[id_tipo_gestion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_gestion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_gestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_riesgo]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_riesgo](
	[id_tipo_riesgo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_tipo_riesgo_1] PRIMARY KEY CLUSTERED 
(
	[id_tipo_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trabajador]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trabajador](
	[id_trabajador] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](15) NULL,
	[primer_nombre] [varchar](50) NULL,
	[segundo_nombre] [varchar](50) NULL,
	[primer_apellido] [varchar](50) NULL,
	[segundo_apellido] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
	[edo_civil] [varchar](20) NULL,
	[sexo] [varchar](10) NULL,
	[foto] [varchar](100) NULL,
	[telefono_casa] [varchar](15) NULL,
	[telefono_movil] [varchar](15) NULL,
	[activo] [int] NULL,
	[fecha_registro] [date] NULL,
	[direccion] [varchar](100) NULL,
	[id_municipio] [int] NOT NULL,
	[id_puesto_trabajo] [int] NOT NULL,
	[es_discapacitado] [varchar](4) NULL,
	[desc_discapacidad] [varchar](200) NULL,
	[id_horario] [int] NULL,
	[id_estatus_actual] [int] NULL,
	[id_ccf] [int] NULL,
 CONSTRAINT [PK_trabajador] PRIMARY KEY CLUSTERED 
(
	[id_trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trabajador_estatus]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trabajador_estatus](
	[id_trabajador_estatus] [int] IDENTITY(1,1) NOT NULL,
	[id_estatus] [int] NULL,
	[id_trabajador] [int] NULL,
	[fecha_registro] [date] NULL,
	[motivo] [varchar](300) NULL,
	[id_enfermedad] [int] NULL,
	[id_sistema] [int] NULL,
 CONSTRAINT [PK__trabajad__AF99528CC29AE877] PRIMARY KEY CLUSTERED 
(
	[id_trabajador_estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trabajador_gestion]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trabajador_gestion](
	[id_trabajador] [int] NOT NULL,
	[id_ges_lab] [int] NOT NULL,
	[asistencia] [varchar](45) NULL,
	[id_trabajador_gestion] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_trabajador_gestion] PRIMARY KEY CLUSTERED 
(
	[id_trabajador_gestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 30/11/2016 10:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](500) NULL,
	[clave] [varchar](500) NULL,
	[id_trabajador] [int] NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK__usuario__4E3E04ADCC335190] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_agente_lesion] FOREIGN KEY([id_agente_lesion])
REFERENCES [dbo].[agente_lesion] ([id_agente_lesion])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_agente_lesion]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH NOCHECK ADD  CONSTRAINT [FK_acc_inc_lab_area] FOREIGN KEY([id_area])
REFERENCES [dbo].[area] ([id_area])
GO
ALTER TABLE [dbo].[acc_inc_lab] NOCHECK CONSTRAINT [FK_acc_inc_lab_area]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_causa_accidente] FOREIGN KEY([id_causa_accidente])
REFERENCES [dbo].[causa_accidente] ([id_causa_acc])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_causa_accidente]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_forma_accidente] FOREIGN KEY([id_forma_acc])
REFERENCES [dbo].[forma_accidente] ([id_forma_acc])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_forma_accidente]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_ips] FOREIGN KEY([id_ips])
REFERENCES [dbo].[ips] ([id_ips])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_ips]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_parte_cuerpo] FOREIGN KEY([id_parte_cuerpo])
REFERENCES [dbo].[parte_cuerpo] ([id_parte_cuerpo])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_parte_cuerpo]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH NOCHECK ADD  CONSTRAINT [FK_acc_inc_lab_puesto_trabajo] FOREIGN KEY([id_puesto_trabajo])
REFERENCES [dbo].[puesto_trabajo] ([id_puesto_trabajo])
GO
ALTER TABLE [dbo].[acc_inc_lab] NOCHECK CONSTRAINT [FK_acc_inc_lab_puesto_trabajo]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_sitio_accidente] FOREIGN KEY([id_sitio_acc])
REFERENCES [dbo].[sitio_accidente] ([id_sitio_acc])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_sitio_accidente]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_tipo_accidente] FOREIGN KEY([id_tipo_acc])
REFERENCES [dbo].[tipo_accidente] ([id_tipo_acc])
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_tipo_accidente]
GO
ALTER TABLE [dbo].[acc_inc_lab]  WITH CHECK ADD  CONSTRAINT [FK_acc_inc_lab_trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[trabajador] ([id_trabajador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[acc_inc_lab] CHECK CONSTRAINT [FK_acc_inc_lab_trabajador]
GO
ALTER TABLE [dbo].[agente_lesion]  WITH CHECK ADD  CONSTRAINT [FK_agente_lesion_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[agente_lesion] CHECK CONSTRAINT [FK_agente_lesion_empresa]
GO
ALTER TABLE [dbo].[alarmas]  WITH NOCHECK ADD  CONSTRAINT [FK_alarmas_categorias] FOREIGN KEY([id_categorias])
REFERENCES [dbo].[categorias] ([id_categorias])
GO
ALTER TABLE [dbo].[alarmas] NOCHECK CONSTRAINT [FK_alarmas_categorias]
GO
ALTER TABLE [dbo].[alarmas]  WITH CHECK ADD  CONSTRAINT [FK_alarmas_prioridad] FOREIGN KEY([id_prioridad])
REFERENCES [dbo].[prioridad] ([id_prioridad])
GO
ALTER TABLE [dbo].[alarmas] CHECK CONSTRAINT [FK_alarmas_prioridad]
GO
ALTER TABLE [dbo].[alarmas]  WITH NOCHECK ADD  CONSTRAINT [FK_alarmas_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[alarmas] CHECK CONSTRAINT [FK_alarmas_usuario]
GO
ALTER TABLE [dbo].[anexos]  WITH NOCHECK ADD  CONSTRAINT [FK_anexos_obligacion1] FOREIGN KEY([id_obligacion])
REFERENCES [dbo].[obligacion] ([id_obligacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[anexos] NOCHECK CONSTRAINT [FK_anexos_obligacion1]
GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD  CONSTRAINT [FK_area_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[area] CHECK CONSTRAINT [FK_area_sucursal]
GO
ALTER TABLE [dbo].[categorias]  WITH CHECK ADD  CONSTRAINT [FK_categorias_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categorias] CHECK CONSTRAINT [FK_categorias_empresa]
GO
ALTER TABLE [dbo].[causa_accidente]  WITH CHECK ADD  CONSTRAINT [FK_causa_accidente_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[causa_accidente] CHECK CONSTRAINT [FK_causa_accidente_empresa]
GO
ALTER TABLE [dbo].[causas_basicas]  WITH CHECK ADD  CONSTRAINT [FK_causas_basicas_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[causas_basicas] CHECK CONSTRAINT [FK_causas_basicas_acc_inc_lab]
GO
ALTER TABLE [dbo].[causas_inmediatas]  WITH CHECK ADD  CONSTRAINT [FK_causas_inmediatas_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[causas_inmediatas] CHECK CONSTRAINT [FK_causas_inmediatas_acc_inc_lab]
GO
ALTER TABLE [dbo].[compromisos]  WITH NOCHECK ADD  CONSTRAINT [FK_compromisos_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[compromisos] NOCHECK CONSTRAINT [FK_compromisos_acc_inc_lab]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [FK_consultas_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [FK_consultas_acc_inc_lab]
GO
ALTER TABLE [dbo].[departamento]  WITH CHECK ADD  CONSTRAINT [FK_departamento_Region] FOREIGN KEY([id_region])
REFERENCES [dbo].[Region] ([id_region])
GO
ALTER TABLE [dbo].[departamento] CHECK CONSTRAINT [FK_departamento_Region]
GO
ALTER TABLE [dbo].[desc_socio]  WITH NOCHECK ADD  CONSTRAINT [FK_desc_socio_afp] FOREIGN KEY([id_afp])
REFERENCES [dbo].[afp] ([id_afp])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[desc_socio] NOCHECK CONSTRAINT [FK_desc_socio_afp]
GO
ALTER TABLE [dbo].[desc_socio]  WITH NOCHECK ADD  CONSTRAINT [FK_desc_socio_eps1] FOREIGN KEY([id_eps])
REFERENCES [dbo].[eps] ([id_eps])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[desc_socio] NOCHECK CONSTRAINT [FK_desc_socio_eps1]
GO
ALTER TABLE [dbo].[desc_socio]  WITH CHECK ADD  CONSTRAINT [FK_desc_socio_trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[trabajador] ([id_trabajador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[desc_socio] CHECK CONSTRAINT [FK_desc_socio_trabajador]
GO
ALTER TABLE [dbo].[division]  WITH CHECK ADD  CONSTRAINT [FK_division_codigo_ciiu] FOREIGN KEY([id_codigo_ciiu])
REFERENCES [dbo].[codigo_ciiu] ([id_codigo_ciiu])
GO
ALTER TABLE [dbo].[division] CHECK CONSTRAINT [FK_division_codigo_ciiu]
GO
ALTER TABLE [dbo].[empleos_anteriores]  WITH CHECK ADD  CONSTRAINT [FK_empleos_anteriores_desc_socio] FOREIGN KEY([id_desc_socio])
REFERENCES [dbo].[desc_socio] ([id_desc_socio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[empleos_anteriores] CHECK CONSTRAINT [FK_empleos_anteriores_desc_socio]
GO
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD  CONSTRAINT [FK_empresa_arp] FOREIGN KEY([id_arp])
REFERENCES [dbo].[arp] ([id_arp])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[empresa] CHECK CONSTRAINT [FK_empresa_arp]
GO
ALTER TABLE [dbo].[empresa_itemdivision]  WITH CHECK ADD  CONSTRAINT [FK_empresa_itemdivision_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[empresa_itemdivision] CHECK CONSTRAINT [FK_empresa_itemdivision_empresa]
GO
ALTER TABLE [dbo].[empresa_itemdivision]  WITH CHECK ADD  CONSTRAINT [FK_empresa_itemdivision_items_division] FOREIGN KEY([id_items_division])
REFERENCES [dbo].[items_division] ([id_items_division])
GO
ALTER TABLE [dbo].[empresa_itemdivision] CHECK CONSTRAINT [FK_empresa_itemdivision_items_division]
GO
ALTER TABLE [dbo].[estatus]  WITH NOCHECK ADD  CONSTRAINT [FK_estatus_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[estatus] CHECK CONSTRAINT [FK_estatus_empresa]
GO
ALTER TABLE [dbo].[estatus_obligacion]  WITH CHECK ADD  CONSTRAINT [FK_estatus_obligacion_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[estatus_obligacion] CHECK CONSTRAINT [FK_estatus_obligacion_empresa]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_tipo_evento] FOREIGN KEY([id_tipo_evento])
REFERENCES [dbo].[tipo_evento] ([id_tipo_evento])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_tipo_evento]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_usuario]
GO
ALTER TABLE [dbo].[factor_riesgo]  WITH CHECK ADD  CONSTRAINT [FK_factor_riesgo_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[factor_riesgo] CHECK CONSTRAINT [FK_factor_riesgo_empresa]
GO
ALTER TABLE [dbo].[factor_riesgo]  WITH CHECK ADD  CONSTRAINT [FK_factor_riesgo_tipo_riesgo1] FOREIGN KEY([id_tipo_riesgo])
REFERENCES [dbo].[tipo_riesgo] ([id_tipo_riesgo])
GO
ALTER TABLE [dbo].[factor_riesgo] CHECK CONSTRAINT [FK_factor_riesgo_tipo_riesgo1]
GO
ALTER TABLE [dbo].[forma_accidente]  WITH CHECK ADD  CONSTRAINT [FK_forma_accidente_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[forma_accidente] CHECK CONSTRAINT [FK_forma_accidente_empresa]
GO
ALTER TABLE [dbo].[fotos_accidente]  WITH CHECK ADD  CONSTRAINT [FK_fotos_accidente_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fotos_accidente] CHECK CONSTRAINT [FK_fotos_accidente_acc_inc_lab]
GO
ALTER TABLE [dbo].[gestion_laboral]  WITH CHECK ADD  CONSTRAINT [FK_gestion_laboral_tipo_gestion] FOREIGN KEY([id_tipo_gestion])
REFERENCES [dbo].[tipo_gestion] ([id_tipo_gestion])
GO
ALTER TABLE [dbo].[gestion_laboral] CHECK CONSTRAINT [FK_gestion_laboral_tipo_gestion]
GO
ALTER TABLE [dbo].[gestion_laboral]  WITH CHECK ADD  CONSTRAINT [FK_gestion_laboral_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gestion_laboral] CHECK CONSTRAINT [FK_gestion_laboral_usuario]
GO
ALTER TABLE [dbo].[historia_clinica_ocupacional]  WITH CHECK ADD  CONSTRAINT [FK_historia_clinica_ocupacional_Tipo_Examen] FOREIGN KEY([id_tipo_exa])
REFERENCES [dbo].[tipo_examen] ([id_tipo_exa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[historia_clinica_ocupacional] CHECK CONSTRAINT [FK_historia_clinica_ocupacional_Tipo_Examen]
GO
ALTER TABLE [dbo].[historia_clinica_ocupacional]  WITH CHECK ADD  CONSTRAINT [FK_historia_clinica_ocupacional_trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[trabajador] ([id_trabajador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[historia_clinica_ocupacional] CHECK CONSTRAINT [FK_historia_clinica_ocupacional_trabajador]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_empresa]
GO
ALTER TABLE [dbo].[items_division]  WITH CHECK ADD  CONSTRAINT [FK_items_division_division] FOREIGN KEY([id_division])
REFERENCES [dbo].[division] ([id_division])
GO
ALTER TABLE [dbo].[items_division] CHECK CONSTRAINT [FK_items_division_division]
GO
ALTER TABLE [dbo].[matrizRiesgo_factorRiesgo]  WITH CHECK ADD  CONSTRAINT [FK_factor_riesgo_tipo_riesgo] FOREIGN KEY([id_tipo_riesgo])
REFERENCES [dbo].[matrizRiesgo_tipoRiesgo] ([id_tipo_riesgo])
GO
ALTER TABLE [dbo].[matrizRiesgo_factorRiesgo] CHECK CONSTRAINT [FK_factor_riesgo_tipo_riesgo]
GO
ALTER TABLE [dbo].[medidas]  WITH CHECK ADD  CONSTRAINT [FK_medidas_normas] FOREIGN KEY([id_normas])
REFERENCES [dbo].[normas] ([id_normas])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medidas] CHECK CONSTRAINT [FK_medidas_normas]
GO
ALTER TABLE [dbo].[medidas_sucursal]  WITH CHECK ADD  CONSTRAINT [FK_medidas_sucursal_normas_sucursal] FOREIGN KEY([id_normas_sucursal])
REFERENCES [dbo].[normas_sucursal] ([id_normas_sucursal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medidas_sucursal] CHECK CONSTRAINT [FK_medidas_sucursal_normas_sucursal]
GO
ALTER TABLE [dbo].[municipio]  WITH CHECK ADD  CONSTRAINT [FK_municipio_departamento1] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[municipio] CHECK CONSTRAINT [FK_municipio_departamento1]
GO
ALTER TABLE [dbo].[normas]  WITH NOCHECK ADD  CONSTRAINT [FK_normas_items_division] FOREIGN KEY([id_item])
REFERENCES [dbo].[items_division] ([id_items_division])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[normas] NOCHECK CONSTRAINT [FK_normas_items_division]
GO
ALTER TABLE [dbo].[normas_sucursal]  WITH CHECK ADD  CONSTRAINT [FK_normas_sucursal_normas1] FOREIGN KEY([id_normas])
REFERENCES [dbo].[normas] ([id_normas])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[normas_sucursal] CHECK CONSTRAINT [FK_normas_sucursal_normas1]
GO
ALTER TABLE [dbo].[normas_sucursal]  WITH CHECK ADD  CONSTRAINT [FK_normas_sucursal_sucursal1] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[normas_sucursal] CHECK CONSTRAINT [FK_normas_sucursal_sucursal1]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_categorias] FOREIGN KEY([id_categorias])
REFERENCES [dbo].[categorias] ([id_categorias])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_categorias]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_estatus_obligacion] FOREIGN KEY([id_estatus_obl])
REFERENCES [dbo].[estatus_obligacion] ([id_estatus_obl])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_estatus_obligacion]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_frecuencia_control] FOREIGN KEY([id_frecuencia_con])
REFERENCES [dbo].[frecuencia_control] ([id_frec_con])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_frecuencia_control]
GO
ALTER TABLE [dbo].[obligacion]  WITH NOCHECK ADD  CONSTRAINT [FK_obligacion_medidas_sucursal] FOREIGN KEY([id_medida_sucursal])
REFERENCES [dbo].[medidas_sucursal] ([id_medidas_sucursal])
GO
ALTER TABLE [dbo].[obligacion] NOCHECK CONSTRAINT [FK_obligacion_medidas_sucursal]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_plan_trabajo] FOREIGN KEY([id_actividad])
REFERENCES [dbo].[plan_trabajo] ([id_plan_trabajo])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_plan_trabajo]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_prioridad] FOREIGN KEY([id_prioridad])
REFERENCES [dbo].[prioridad] ([id_prioridad])
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_prioridad]
GO
ALTER TABLE [dbo].[obligacion]  WITH NOCHECK ADD  CONSTRAINT [FK_obligacion_riesgos] FOREIGN KEY([id_riesgo])
REFERENCES [dbo].[riesgos] ([id_riesgos])
GO
ALTER TABLE [dbo].[obligacion] NOCHECK CONSTRAINT [FK_obligacion_riesgos]
GO
ALTER TABLE [dbo].[obligacion]  WITH CHECK ADD  CONSTRAINT [FK_obligacion_usuario] FOREIGN KEY([id_responsable])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[obligacion] CHECK CONSTRAINT [FK_obligacion_usuario]
GO
ALTER TABLE [dbo].[parte_cuerpo]  WITH CHECK ADD  CONSTRAINT [FK_parte_cuerpo_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[parte_cuerpo] CHECK CONSTRAINT [FK_parte_cuerpo_empresa]
GO
ALTER TABLE [dbo].[plan_mapa]  WITH CHECK ADD  CONSTRAINT [FK_plan_mapa_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[plan_mapa] CHECK CONSTRAINT [FK_plan_mapa_sucursal]
GO
ALTER TABLE [dbo].[plan_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_plan_trabajo_usuario] FOREIGN KEY([id_responsable])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[plan_trabajo] CHECK CONSTRAINT [FK_plan_trabajo_usuario]
GO
ALTER TABLE [dbo].[puesto_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_puesto_trabajo_area] FOREIGN KEY([id_area])
REFERENCES [dbo].[area] ([id_area])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[puesto_trabajo] CHECK CONSTRAINT [FK_puesto_trabajo_area]
GO
ALTER TABLE [dbo].[riesgos]  WITH NOCHECK ADD  CONSTRAINT [FK_riesgos_factor_riesgo] FOREIGN KEY([id_factor_riesgo])
REFERENCES [dbo].[factor_riesgo] ([id_factor_riesgo])
GO
ALTER TABLE [dbo].[riesgos] NOCHECK CONSTRAINT [FK_riesgos_factor_riesgo]
GO
ALTER TABLE [dbo].[riesgos]  WITH CHECK ADD  CONSTRAINT [FK_riesgos_prioridad] FOREIGN KEY([id_prioridad])
REFERENCES [dbo].[prioridad] ([id_prioridad])
GO
ALTER TABLE [dbo].[riesgos] CHECK CONSTRAINT [FK_riesgos_prioridad]
GO
ALTER TABLE [dbo].[riesgos]  WITH NOCHECK ADD  CONSTRAINT [FK_riesgos_puesto_trabajo] FOREIGN KEY([id_puesto_trabajo])
REFERENCES [dbo].[puesto_trabajo] ([id_puesto_trabajo])
GO
ALTER TABLE [dbo].[riesgos] NOCHECK CONSTRAINT [FK_riesgos_puesto_trabajo]
GO
ALTER TABLE [dbo].[riesgos]  WITH CHECK ADD  CONSTRAINT [FK_riesgos_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[riesgos] CHECK CONSTRAINT [FK_riesgos_sucursal]
GO
ALTER TABLE [dbo].[riesgos]  WITH NOCHECK ADD  CONSTRAINT [FK_riesgos_usuario] FOREIGN KEY([id_responsable])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[riesgos] NOCHECK CONSTRAINT [FK_riesgos_usuario]
GO
ALTER TABLE [dbo].[riesgos_item]  WITH CHECK ADD  CONSTRAINT [FK_riesgos_item_items_division] FOREIGN KEY([id_item])
REFERENCES [dbo].[items_division] ([id_items_division])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[riesgos_item] CHECK CONSTRAINT [FK_riesgos_item_items_division]
GO
ALTER TABLE [dbo].[riesgos_item]  WITH NOCHECK ADD  CONSTRAINT [FK_riesgos_item_matrizRiesgo_enfermedadLaboral] FOREIGN KEY([id_enfermedad_laboral])
REFERENCES [dbo].[matrizRiesgo_enfermedadLaboral] ([id_enfermedadLaboral])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[riesgos_item] NOCHECK CONSTRAINT [FK_riesgos_item_matrizRiesgo_enfermedadLaboral]
GO
ALTER TABLE [dbo].[riesgos_item]  WITH NOCHECK ADD  CONSTRAINT [FK_riesgos_item_matrizRiesgo_factorRiesgo] FOREIGN KEY([id_factor_riesgo])
REFERENCES [dbo].[matrizRiesgo_factorRiesgo] ([id_factor_riesgo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[riesgos_item] NOCHECK CONSTRAINT [FK_riesgos_item_matrizRiesgo_factorRiesgo]
GO
ALTER TABLE [dbo].[sitio_accidente]  WITH CHECK ADD  CONSTRAINT [FK_sitio_accidente_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sitio_accidente] CHECK CONSTRAINT [FK_sitio_accidente_empresa]
GO
ALTER TABLE [dbo].[sucursal]  WITH NOCHECK ADD  CONSTRAINT [FK_sucursal_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sucursal] CHECK CONSTRAINT [FK_sucursal_empresa]
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD  CONSTRAINT [FK_sucursal_municipio] FOREIGN KEY([id_municpio])
REFERENCES [dbo].[municipio] ([id_municipio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sucursal] CHECK CONSTRAINT [FK_sucursal_municipio]
GO
ALTER TABLE [dbo].[testigos]  WITH NOCHECK ADD  CONSTRAINT [FK_Testigos_acc_inc_lab] FOREIGN KEY([id_acc_lab])
REFERENCES [dbo].[acc_inc_lab] ([id_acc_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[testigos] NOCHECK CONSTRAINT [FK_Testigos_acc_inc_lab]
GO
ALTER TABLE [dbo].[tipo_accidente]  WITH CHECK ADD  CONSTRAINT [FK_tipo_accidente_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tipo_accidente] CHECK CONSTRAINT [FK_tipo_accidente_empresa]
GO
ALTER TABLE [dbo].[trabajador]  WITH NOCHECK ADD  CONSTRAINT [FK_trabajador_ccf] FOREIGN KEY([id_ccf])
REFERENCES [dbo].[ccf] ([id_ccf])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[trabajador] NOCHECK CONSTRAINT [FK_trabajador_ccf]
GO
ALTER TABLE [dbo].[trabajador]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_horario] FOREIGN KEY([id_horario])
REFERENCES [dbo].[horario] ([id_horario])
GO
ALTER TABLE [dbo].[trabajador] CHECK CONSTRAINT [FK_trabajador_horario]
GO
ALTER TABLE [dbo].[trabajador]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_municipio] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[trabajador] CHECK CONSTRAINT [FK_trabajador_municipio]
GO
ALTER TABLE [dbo].[trabajador]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_puesto_trabajo] FOREIGN KEY([id_puesto_trabajo])
REFERENCES [dbo].[puesto_trabajo] ([id_puesto_trabajo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trabajador] CHECK CONSTRAINT [FK_trabajador_puesto_trabajo]
GO
ALTER TABLE [dbo].[trabajador_estatus]  WITH CHECK ADD  CONSTRAINT [FK__Trabajado__id_es__22751F6C] FOREIGN KEY([id_estatus])
REFERENCES [dbo].[estatus] ([id_estatus])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trabajador_estatus] CHECK CONSTRAINT [FK__Trabajado__id_es__22751F6C]
GO
ALTER TABLE [dbo].[trabajador_estatus]  WITH NOCHECK ADD  CONSTRAINT [FK_trabajador_estatus_enfermedad] FOREIGN KEY([id_enfermedad])
REFERENCES [dbo].[enfermedad] ([id_enfermedad])
GO
ALTER TABLE [dbo].[trabajador_estatus] NOCHECK CONSTRAINT [FK_trabajador_estatus_enfermedad]
GO
ALTER TABLE [dbo].[trabajador_estatus]  WITH NOCHECK ADD  CONSTRAINT [FK_trabajador_estatus_sistemas] FOREIGN KEY([id_sistema])
REFERENCES [dbo].[sistemas] ([id_sistemas])
GO
ALTER TABLE [dbo].[trabajador_estatus] NOCHECK CONSTRAINT [FK_trabajador_estatus_sistemas]
GO
ALTER TABLE [dbo].[trabajador_estatus]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_estatus_trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[trabajador] ([id_trabajador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trabajador_estatus] CHECK CONSTRAINT [FK_trabajador_estatus_trabajador]
GO
ALTER TABLE [dbo].[trabajador_gestion]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_gestion_gestion_laboral] FOREIGN KEY([id_ges_lab])
REFERENCES [dbo].[gestion_laboral] ([id_ges_lab])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trabajador_gestion] CHECK CONSTRAINT [FK_trabajador_gestion_gestion_laboral]
GO
ALTER TABLE [dbo].[trabajador_gestion]  WITH NOCHECK ADD  CONSTRAINT [FK_trabajador_gestion_trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[trabajador] ([id_trabajador])
GO
ALTER TABLE [dbo].[trabajador_gestion] NOCHECK CONSTRAINT [FK_trabajador_gestion_trabajador]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id_rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
ALTER TABLE [dbo].[usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_usuario_trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[trabajador] ([id_trabajador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario] NOCHECK CONSTRAINT [FK_usuario_trabajador]
GO
USE [master]
GO
